.has-error {
  width: 100%;
  margin-top: 0.25rem;
  color: rgb(255, 0, 0);
}

.external-links-feather-18 {
  width: 18px;
  height: 18px;
}

.iconsize {
  height: 25px;
  width: 28%;
}
